* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/*font-family: 'Dancing Script', cursive;*/
.nav_1 {
  width: 100%;
  height: 50px;
  color: white;
  background: #222f3e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_1 i {
  margin: 0 5px;
}
.nav_1 a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  background: #e67e22;
}
.nav_2 {
  width: 100%;
  height: 80px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}
.nav_2 img {
  height: 60px;
  width: 290px;
  margin-top: 25px;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 80%, #e67e22),
    url("images/uni5.jfif");
  background-size: 100% 100%;
}

.h_text {
  max-width: 600px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.h_text h1 {
  font-size: 3em;
  font-family: "Dancing Script", cursive;
}

.h_text span {
  color: #e67e22;
  font-family: "Dancing Script", cursive;
}
.h_text p {
  font-size: 20px;
  margin: 40px 0;
  line-height: 30px;
}
.h_text a {
  text-decoration: none;
  color: white;
  background: #e67e22;
  padding: 10px 20px;
  margin: 0 15px;
  letter-spacing: 5px;
}
